<% content_for :head do %>
  <% cache [@photoblog, @query.parameterize, @page, @count, :head] do %>
    <title><%= sanitize @page_title %></title>
    <meta name="description" content="<%= @photoblog.meta_description %>">
    <link rel="canonical" href="<%=  search_url %>">

    <meta property="og:title" content="<%= "Search results for “#{@query}” – #{@photoblog.name}" %>">
    <% if @entries.present? %>
      <meta property="og:image" content="<%= @entries.first.photos.first.url(w: 1200, h: 628) %>">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="628">
    <% end %>
    <meta property="og:description" content="<%= @photoblog.plain_tag_line %>">
    <meta property="og:url" content="<%= @page == 1 ? search_url(page: nil) : search_url(query: @query, page: @page) %>">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="<%= @photoblog.name %>">
    <meta property="og:locale" content="en_US">

    <% if @photoblog.twitter.present? %>
      <meta name="twitter:site" content="@<%= @photoblog.twitter.gsub(/^@/, '') %>">
      <meta name="twitter:creator" content="@<%= @photoblog.twitter.gsub(/^@/, '') %>">
    <% end %>
    <meta name="twitter:title" content="<%= "Search results for “#{@query}” – #{@photoblog.name}" %>">
    <meta name="twitter:url" content="<%= @page == 1 ? search_url(page: nil) : search_url(query: @query, page: @page) %>">
    <meta name="twitter:description" content="<%= @photoblog.plain_tag_line %>">
    <meta name="twitter:card" content="summary">
  <% end %>
<% end %>

<% cache [@photoblog, @query.parameterize, @page, @count] do %>
  <% if @entries.present? %>
    <%= render partial: 'entries/search/search_form' %>
    <h2 class="sr-only" id="search-results">Search Results</h2>
    <ol class="entry-list" aria-labelledby="search-results">
      <%= render partial: 'entries/list/entry_square', collection: @entries, as: :entry, cached: true %>
    </ol>
    <%= paginate @entries %>
  <% else %>
    <%= render partial: 'entries/search/search_form' %>
    <h1 class="entry_list__heading">No results found for “<%= sanitize @query %>”. Try searching for something else, like “film”, “fujifilm”, or “bears”.</h1>
  <% end %>
<% end %>
