<% photo = entry.photos.first %>
<div class="card is-marginless">
  <div class="card-image">
    <a style="<%= css_gradient_stops(photo) %>" target="_blank" class="image image-container" href="<%= entry.permalink_url %>">
      <%= responsive_image_tag(
        photo: photo,
        srcset: @srcset,
        sizes: @sizes,
        square: true,
        html_options: {
          loading: 'lazy'
        }) %>
    </a>
  </div>
  <div class="card-content">
    <h1 class="title is-size-7"><%= entry.plain_title %></h1>
  </div>
</div>
