<div data-controller="related-entries" data-related-entries-url="<%= entry.is_published? ? related_url(entry, format: 'js') : related_preview_url(entry.preview_hash, format: 'js')  %>" aria-busy="false" aria-live="polite">
  <%= render partial: 'partials/loading', locals: { target: 'related-entries.spinner' } %>
</div>
