<% cache @entries do %>
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <%= render partial: 'entries/sitemap/entry.xml.erb', collection: @entries %>
</urlset>
<% end %>
