<% cache [@photoblog, @tag_slug] do %>
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xmlns:webfeeds="http://webfeeds.org/rss/1.0">
  <channel>
    <title><%= "#{@tags.first.name} - #{@photoblog.name}" %></title>
    <link><%= tag_url(tag: @tag_slug) %></link>
    <description><%= "#{@photoblog.plain_tag_line} – Photos tagged “#{@tags.first.name}”" %></description>
    <pubDate><%= @entries.map(&:modified_at).max.utc.rfc822 %></pubDate>
    <atom:link href="<%= tag_feed_url(tag: @tag_slug, format: 'rss') %>" rel="self" type="application/rss+xml"/>
    <webfeeds:accentColor>#BF0222</webfeeds:accentColor>
    <% if @photoblog.logo.attached? %>
      <webfeeds:wordmark><%= @photoblog.logo_url(w: 192) %></webfeeds:wordmark>
    <% end %>
    <% if @photoblog.touch_icon.attached? %>
      <webfeeds:icon><%=  @photoblog.touch_icon_url(w: 192) %></webfeeds:icon>
    <% end %>
    <webfeeds:related layout="card" target="browser"/>
    <%= render partial: 'entries/feed/entry.rss.erb', collection: @entries, as: :entry, cached: true %>
  </channel>
</rss>
<% end %>
