.image-container {
  background: radial-gradient(at top left, var(--gradient-start, $color-gray-very-light), var(--gradient-end, $color-gray-light));
  background-repeat: no-repeat;
  background-size: cover;

  img {
    display: block;
  }
}
