<ul class="follow">
  <%= render partial: 'partials/follow_icon.html.erb', locals: { url: about_url,                           icon: 'about',     label: "About #{@photoblog.name}" } %>
  <%= render partial: 'partials/follow_icon.html.erb', locals: { url: search_url,                          icon: 'search',    label: "Search #{@photoblog.name}" } if @photoblog.show_search? && @photoblog.has_search? %>
  <%= render partial: 'partials/follow_icon.html.erb', locals: { url: "mailto:#{@photoblog.email}",        icon: 'email',     label: 'Contact by email' }          if @photoblog.email.present? %>
  <%= render partial: 'partials/follow_icon.html.erb', locals: { url: feed_url(format: 'atom', page: nil), icon: 'feed',      label: 'Subscribe to Feed' } %>
  <%= render partial: 'partials/follow_icon.html.erb', locals: { url: @photoblog.facebook,                 icon: 'facebook',  label: 'Like on Facebook' }          if @photoblog.facebook.present? %>
  <%= render partial: 'partials/follow_icon.html.erb', locals: { url: @photoblog.flickr,                   icon: 'flickr',    label: 'Follow on Flickr' }          if @photoblog.flickr.present? %>
  <%= render partial: 'partials/follow_icon.html.erb', locals: { url: @photoblog.instagram,                icon: 'instagram', label: 'Follow on Instagram' }       if @photoblog.instagram.present? %>
  <%= render partial: 'partials/follow_icon.html.erb', locals: { url: @photoblog.tumblr,                   icon: 'tumblr',    label: 'Follow on Tumblr' }          if @photoblog.tumblr.present? %>
  <%= render partial: 'partials/follow_icon.html.erb', locals: { url: @photoblog.twitter,                  icon: 'twitter',   label: 'Follow on Twitter' }         if @photoblog.twitter.present? %>
</ul>
