<tr data-controller="tag" data-tag-name="<%= tag.name %>">
<td><%= link_to tag.name, admin_tagged_entries_path(tag.slug), class: 'tag is-link' %></td>
<td>
  <div class="buttons is-pulled-right">
    <%= link_to 'Add', add_admin_tag_path(tag.id), class: 'button is-small', 'data-action': 'click->tag#add' %>
    <%= link_to 'Edit', admin_tag_path(tag.id), class: 'button is-small', 'data-action': 'click->tag#edit' %>
    <%= link_to 'Delete', admin_tag_path(tag.id), class: 'button is-danger is-small', 'data-action': 'click->tag#delete' %>
  </div>
</td>
</tr>
