<% cache entry do %>
  <entry>
    <id><%= atom_tag(entry.permalink_url, entry.modified_at) %></id>
    <published><%= entry.published_at.utc.strftime('%FT%TZ') %></published>
    <updated><%= entry.modified_at.utc.strftime('%FT%TZ') %></updated>
    <link rel="alternate" type="text/html" href="<%= entry.permalink_url %>"/>
    <title><%= entry.plain_title %></title>
    <content type="html">
      <%= html_escape render(partial: 'entries/feed/feed_entry_body.html.erb', object: entry, as: :entry).to_str %>
    </content>
    <% if entry.is_photo?%>
      <webfeeds:featuredImage url="<%= entry.photos.first.url(w: 2560, fm: 'jpg') %>" type="image/jpg" width="2560" height="<%= entry.photos.first.height_from_width(2560) %>"/>
    <% end %>
    <% entry.photos.each do |photo| %>
      <media:content url="<%= photo.url(w: 1280, fm: 'jpg') %>" />
    <% end %>
    <author>
      <name><%= entry.user.name %></name>
    </author>
  </entry>
<% end %>
