<% cache entry do %>
  <item>
    <guid isPermaLink="true"><%= entry.permalink_url %></guid>
    <pubDate><%= entry.published_at.utc.rfc822 %></pubDate>
    <link><%= entry.permalink_url %></link>
    <title><%= entry.plain_title %></title>
    <description>
      <%= html_escape render(partial: 'entries/feed/feed_entry_body.html.erb', object: entry, as: :entry).to_str %>
    </description>
    <% if entry.is_photo?%>
      <webfeeds:featuredImage url="<%= entry.photos.first.url(w: 2560, fm: 'jpg') %>" type="image/jpg" width="2560" height="<%= entry.photos.first.height_from_width(2560) %>"/>
    <% end %>
    <% entry.photos.each do |photo| %>
      <media:content url="<%= photo.url(w: 1280, fm: 'jpg') %>" />
    <% end %>
  </item>
<% end %>
