<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>

<%= paginator.render do -%>
  <nav class="pagination" <% if defined? target %>data-target="<%= target %>"<% end %> aria-labelledby="pagination">
    <h2 id="pagination" class="sr-only">Pagination</h2>
    <%= prev_page_tag %>
    <%= next_page_tag %>
  </nav>
<% end -%>
