.entry {
  margin: var(--margin-content);
  max-width: $bp-max;
  width: 100%;
}

.entry__figure {
  display: flex;
  font-size: 0;
  justify-content: center;
  margin: 0 0 var(--gutter-horizontal);
  max-width: 100vw;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;

  a {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
  }
}

.entry__photo {
  background: radial-gradient(at top left, var(--gradient-start, $color-gray-very-light), var(--gradient-end, $color-gray-light));
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: auto;
  max-height: 100vh;
  max-width: 100%;
  position: relative;
  width: auto;
  z-index: 101;

  &.entry__photo--zoom {
    max-height: none;
    width: 100%;
  }
}

.entry__headline--no-body {
  text-align: center;
}

.entry__body {
  margin: 0 auto;
  max-width: $bp-m;
  padding: 0 var(--gutter-vertical) var(--gutter-horizontal);
}

.entry__figure + .entry__body {
  border-top: var(--border-thick) solid var(--color-border);
  padding-top: var(--gutter-horizontal);
}

.entry__body {
  @extend %default-entry-styles;
}

.entry__meta {
  border-bottom: var(--border-thick) solid var(--color-border);
  border-top: var(--border-thin) solid var(--color-border);
  margin: 0 auto;
  max-width: $bp-m;
  padding: var(--gutter-horizontal) var(--gutter-vertical);

  p,
  ul {
    color: var(--color-text-alt);
    font-size: var(--font-size-text-alt);
    line-height: var(--line-height-text-alt);
    margin: 0;
    text-align: center;
  }
}

.entry__related {
  border-top: var(--border-thick) solid var(--color-border);
  display: block;
  font-size: var(--font-size-subheading);
  font-weight: var(--font-weight-subheading);
  line-height: var(--line-height-subheading);
  margin: 0 auto;
  max-width: $bp-m;
  padding: var(--gutter-horizontal) var(--gutter-vertical);
  text-align: center;
}

.entry__embed {
  margin: 12px 0;

  @media (min-width: $bp-s) {
    margin: 18px 0;
  }
}

.entry__embed--youtube {
  @include aspect-ratio(560, 315);
}

.entry__photo--zoomable {
  cursor: zoom-in;
}

.entry__photo--zoomable.entry__photo--zoom {
  cursor: zoom-out;
}

%default-entry-styles {
  p,
  ul,
  ol,
  dl {
    font-size: var(--font-size-text);
    line-height: var(--line-height-text);
    margin: var(--margin-text);
  }

  h2 {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
    line-height: var(--line-height-heading);
    margin: var(--margin-heading);
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: var(--font-size-subheading);
    font-weight: var(--font-weight-subheading);
    line-height: var(--line-height-subheading);
    margin: var(--margin-subheading);
  }

  p {
    margin-bottom: 0;
  }

  p + p {
    margin-top: 0;
    text-indent: var(--gutter-horizontal);
  }

  ul,
  ol {
    padding: 0;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  cite,
  em,
  i {
    font-style: italic;
  }

  strong,
  b {
    font-style: normal;
    font-weight: bold;
  }

  small {
    font-size: var(--font-size-text-alt);
    line-height: var(--line-height-text-alt);
  }

  q:before {
    content: '\201c';
  }

  q q:before {
    content: '\2018';
  }

  q:after {
    content: '\201d';
  }

  q q:after {
    content: '\2019';
  }

  blockquote {
    color: var(--color-text-alt);
    font-style: italic;
    margin: 0 1.5rem;
    padding-left: 5px;
    position: relative;
  }
}
