.header {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: var(--margin-content);
  max-width: $bp-max;
  text-align: center;

  @media (min-width: $bp-m) {
    flex-flow: row nowrap;
  }

  svg g {
    fill: var(--color-logo-fill);
  }
}

.header__section {
  order: 3;

  &:first-of-type {
    border-bottom: var(--border-thin) solid var(--color-border);
    order: 2;
  }

  @media (min-width: $bp-m) {
    border-bottom: var(--border-thin) solid var(--color-border);
    flex-grow: 1;
    margin-bottom: 45px;
    padding: 0 20px;
    width: calc((100vw - 240px - 40px)/2);

    &:first-of-type {
      order: 1;
    }
  }

  @media (min-width: $bp-xl) {
    width: calc((#{$bp-max} - 320px - 40px)/2);
  }
}

.header__tagline {
  color: var(--color-text-alt);
  font-size: var(--font-size-text-alt);
  line-height: 44px;

  a:link,
  a:visited {
    color: var(--color-text-alt);
  }

  a:hover,
  a:active {
    color: var(--color-links);
  }
}

.header__link {
  display: block;
  font-size: 24px;
  margin: 0 auto 12px;
  max-width: 320px;
  order: 1;
  width: 200px;

  &:link,
  &:visited {
    color: var(--color-text);
  }

  &:hover,
  &:active {
    color: var(--color-links);
    text-decoration: none;

    g {
      fill: currentColor;
    }
  }

  g {
    transition: fill var(--transition-duration);
  }

  @media (min-width: $bp-m) {
    margin: 0 auto;
    order: 2;
    padding: 0 20px;
    width: 240px;
  }

  @media (min-width: $bp-l) {
    width: 320px;
  }
}
