.loading {
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  margin: var(--margin-content);
  max-width: $bp-max;
}

.loading__spinner {
  fill: var(--color-text-alt);
  height: var(--gutter-horizontal);
  width: var(--gutter-horizontal);
}

.loading--active {
  display: flex;
}

.loading--visible .loading__spinner {
  animation: load 1s infinite linear;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
