@import 'vendors/reset';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/properties';
@import 'base/fonts';
@import 'base/base';

@import 'blocks/accessibility';
@import 'blocks/button';
@import 'blocks/elsewhere';
@import 'blocks/entry_list';
@import 'blocks/entry';
@import 'blocks/error';
@import 'blocks/exif';
@import 'blocks/follow';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/loading';
@import 'blocks/pagination';
@import 'blocks/search';
@import 'blocks/signin';
@import 'blocks/tags';

// scss-lint:disable ImportantRule
.twitter-tweet {
  margin: 24px auto 0 !important;

  @media (min-width: $bp-s) {
    margin: 36px auto 0 !important;
  }
}
// scss-lint:enable ImportantRule
