<% photo = entry.photos&.first %>
<div class="card-image">
  <a style="<%= css_gradient_stops(photo) %>" class="image image-container" href="<%= entry.permalink_url %>">
    <%= responsive_image_tag(
      photo: photo,
      srcset: @srcset,
      sizes: @sizes,
      html_options: {
        loading: 'lazy'
      }) %>
  </a>
</div>
