<%= fields_for :entry, @entry do |f| %>
  <%= f.fields_for :photos, child_index: "#{(Time.current.to_f * 1000).to_i}#{i}" do |p| %>
    <div class="draggable-source" data-controller="photo-form focal-point" data-photo-form-empty="1">
      <div class="card" data-target="photo-form.fields">
        <div class="card-content">
          <div class="media photo-form">
            <div class="media-content">
              <div class="field is-grouped is-grouped-centered">
                <div class="control">
                  <div class="file is-boxed">
                    <label class="file-label">
                      <%= p.file_field :image, accept: '.jpg,.jpeg', class: 'file-input', 'data-action': 'click->photo-form#stopPropagation change->photo-form#addFromFile' %>
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-image"></i>
                        </span>
                        <span class="file-label">
                          Choose a photo…
                        </span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-content"></div>
            <div class="media-right photo-form__controls">
              <span class="icon is-small has-text-grey-light draggable-handle">
                <i class="fas fa-sort"></i>
              </span>
              <a class="delete" data-action="click->photo-form#delete"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card is-hidden" data-target="photo-form.fields">
        <div class="card-image focal-point__image-container is-clipped">
          <img class="focal-point__thumbnail" data-target="photo-form.thumbnail focal-point.thumbnail" data-action="click->focal-point#setFocalPoint load->focal-point#showFocalPoint" />
          <div class="is-hidden focal-point__focal-marker" data-target="focal-point.focalMarker"></div>
        </div>
        <div class="card-content">
          <div class="media photo-form">
            <div class="media-content">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <%= p.label :alt_text, 'Alt text', class: 'label' %>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control is-expanded">
                      <%= p.text_field :alt_text, placeholder: 'Write alt text for this photo…', class: 'input' %>
                      <%= p.hidden_field :position, 'data-position': '' %>
                      <%= p.hidden_field :focal_x, 'data-target': 'focal-point.focalX' %>
                      <%= p.hidden_field :focal_y, 'data-target': 'focal-point.focalY' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-content"></div>
            <div class="media-right photo-form__controls">
              <span class="icon is-small has-text-grey-light draggable-handle">
                <i class="fas fa-sort"></i>
              </span>
              <a class="delete" data-action="click->photo-form#delete"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
