<h1 class="title is-size-5-mobile">Editing entry</h1>
<h2 class="subtitle is-size-6-mobile"><%= @entry.plain_title %></h2>
<hr class="hr">

<%= form_for([:admin, @entry], html: { multipart: true, 'data-controller': 'entry-form', 'data-entry-form-photo-endpoint': photo_admin_entries_path, 'data-action': 'submit->entry-form#submit' }) do |f| %>

<div class="field is-horizontal">
  <div class="field-label">
    <%= f.label :photos, 'Photos', class: 'label' %>
    <a href="#" class="button" data-action="click->entry-form#addPhoto">
      <span class="icon">
        <i class="fas fa-plus-circle"></i>
      </span>
    </a>
  </div>
  <div class="field-body">
    <div class="field is-extended">
      <div data-target="entry-form.photos">
        <%= f.fields_for :photos do |p| %>
          <div class="draggable-source" data-controller="photo-form focal-point" data-photo-form-empty="0" data-focal-point-focal-x="<%= p.object.focal_x %>" data-focal-point-focal-y="<%= p.object.focal_y %>">
            <div class="card" data-target="photo-form.fields">
              <div class="card-image image focal-point__image-container is-clipped image-container" style="<%= css_gradient_stops(p.object) %>">
                <%= responsive_image_tag(
                  photo: p.object,
                  srcset: @srcset,
                  sizes: @sizes,
                  html_options: {
                    class: 'focal-point__thumbnail',
                    'data-action': 'click->focal-point#setFocalPoint load->focal-point#showFocalPoint',
                    'data-target': 'photo-form.thumbnail focal-point.thumbnail'
                  }) %>
                <div class="is-hidden focal-point__focal-marker" data-target="focal-point.focalMarker"></div>
              </div>
              <div class="card-content">
                <div class="media photo-form">
                  <div class="media-content">
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <%= p.label :alt_text, 'Alt text', class: 'label' %>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control is-expanded">
                            <%= p.text_field :alt_text, placeholder: 'Write alt text for this photo…', class: 'input' %>
                            <%= p.hidden_field :id %>
                            <%= p.hidden_field :position, 'data-position': '' %>
                            <%= p.hidden_field :_destroy, 'data-target': 'photo-form.destroy' %>
                            <%= p.hidden_field :focal_x, 'data-target': 'focal-point.focalX' %>
                            <%= p.hidden_field :focal_y, 'data-target': 'focal-point.focalY' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media">
                  <div class="media-content"></div>
                  <div class="media-right photo-form__controls">
                    <span class="icon is-small has-text-grey-light draggable-handle">
                      <i class="fas fa-sort"></i>
                    </span>
                    <a class="delete" data-action="click->photo-form#delete"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <%= render partial: 'entry_fields', locals: { f: f } %>

  <hr class="hr">

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :show_in_map, 'Show in map', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-target="radio-tab.tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-target="radio-tab.tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :show_in_map, 'data-target': 'radio-tab.field' %>
          </div>
        </div>
        <p class="help">Turning this off also prevents the entry from being automatically tagged with location names.</p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_facebook, 'Share on Facebook', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-target="radio-tab.tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-target="radio-tab.tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_facebook, 'data-target': 'radio-tab.field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_flickr, 'Share on Flickr', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-target="radio-tab.tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-target="radio-tab.tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_flickr, 'data-target': 'radio-tab.field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_flickr_groups, 'Share on Flickr groups', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-target="radio-tab.tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-target="radio-tab.tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_flickr_groups, 'data-target': 'radio-tab.field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_tumblr, 'Share on Tumblr', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-target="radio-tab.tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-target="radio-tab.tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_tumblr, 'data-target': 'radio-tab.field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_twitter, 'Share on Twitter', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-target="radio-tab.tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-target="radio-tab.tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_twitter, 'data-target': 'radio-tab.field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_area :tweet_text, placeholder: 'Your tweet…', maxlength: 230, class: 'textarea' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_instagram, 'Share on Instagram', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-target="radio-tab.tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-target="radio-tab.tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_instagram, 'data-target': 'radio-tab.field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_area :instagram_text, placeholder: 'Your Instagram caption…', maxlength: 230, class: 'textarea' %>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr">
  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="buttons is-right">
          <% if @entry.is_draft? %>
            <%= link_to 'Cancel', drafts_admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button' %>
          <% elsif @entry.is_queued? %>
            <%= link_to 'Cancel', queued_admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button' %>
          <% else %>
            <%= link_to 'Cancel', admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button' %>
          <% end %>

          <%= f.submit 'Save changes', class: 'button is-success' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
