<% content_for :body_class do %>
  has-navbar-fixed-bottom
<% end %>

<div data-controller="queue" data-queue-endpoint="<%= admin_entries_queued_update_path %>" data-queue-publish-schedules-count="<%= @photoblog.publish_schedules_count %>" data-queue-past-publish-schedules-today="<%= @photoblog.past_publish_schedules_today.count %>" data-queue-time-zone="<%= Time.zone.tzinfo.name %>">
  <div class="level is-mobile">
    <div class="level-left">
      <div>
        <h1 class="title is-size-5-mobile">Organize queue</h1>
        <h2 class="subtitle is-size-6-mobile"><%= pluralize_with_delimiter 'entry', Entry.queued.count %></h2>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <a href="<%= admin_entries_queued_schedule_path %>" class="button is-small">
          <span class="icon is-small">
            <i class="fas fa-clock"></i>
          </span>
          <span>Schedule</span>
        </a>
      </div>
    </div>
  </div>

  <hr class="hr">
  <div class="is-clearfix" data-target="queue.container">
    <%= render partial: 'queue_item', collection: @entries, as: :entry %>
  </div>

  <nav class="navbar is-fixed-bottom has-shadow">
    <div class="container">
      <div class="navbar-menu is-active">
        <div class="navbar-start">
          <div class="navbar-item">
            <a href="<%= queued_admin_entries_path %>" class="button is-small">
              <span class="icon is-small">
                <i class="fas fa-long-arrow-alt-left"></i>
              </span>
              <span>Go back</span>
            </a>
          </div>
        </div>
        <div class="navbar-end is-hidden" data-target="queue.buttons">
          <div class="navbar-item">
            <a href="<%= admin_entries_queued_organize_path %>" class="button is-small is-danger" data-action="click->queue#discard">
              <span class="icon is-small">
                <i class="fas fa-undo-alt"></i>
              </span>
              <span>Discard changes</span>
            </a>
          </div>
          <div class="navbar-item">
            <a href="<%= queued_admin_entries_path %>" class="button is-small is-success" data-action="click->queue#save">
              <span class="icon is-small">
                <i class="fas fa-check"></i>
              </span>
              <span>Save changes</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
