<div class="modal is-active"  data-controller="modal">
  <div class="modal-background" data-action="click->modal#close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">Syndication</h1>
      <button class="delete" data-action="click->modal#close"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <% if @entry.is_photo? %>
          <h2 class="is-size-5 has-text-weight-normal">Send to</h2>
          <div class="buttons">
            <%= link_to icon('Facebook', 'fab fa-facebook'), facebook_admin_entry_path(@entry.id), remote: true, method: :post, data: { confirm: 'The entry will be sent to your Facebook queue in Buffer. Do you want to continue?' }, class: 'button' %>
            <%= link_to icon('Flickr', 'fab fa-flickr'), flickr_admin_entry_path(@entry.id), remote: true, method: :post, data: { confirm: 'The entry will be sent to Flickr immediately. Do you want to continue?' }, class: 'button' %>
            <%= link_to icon('Instagram', 'fab fa-instagram'), instagram_admin_entry_path(@entry.id), remote: true, method: :post, data: { confirm: 'The entry will be sent to your Instagram queue in Buffer. Do you want to continue?' }, class: 'button' %>
            <%= link_to icon('Tumblr', 'fab fa-tumblr'), tumblr_admin_entry_path(@entry.id), remote: true, method: :post, data: { confirm: 'The entry will be sent to your Tumblr queue. Do you want to continue?' }, class: 'button' %>
            <%= link_to icon('Twitter', 'fab fa-twitter'), twitter_admin_entry_path(@entry.id), remote: true, method: :post, data: { confirm: 'The entry will be sent to Twitter immediately. Do you want to continue?' }, class: 'button' %>
          </div>
          <h2 class="is-size-5 has-text-weight-normal">Other</h2>
          <div class="buttons">
            <%= link_to icon('Twitter Banner', 'fab fa-twitter'), twitter_banner_admin_entry_path(@entry.id), remote: true, method: :post, data: { confirm: 'This photo will be made your Twitter banner immediately. Do you want to continue?' }, class: 'button' %>
          </div>
        <% end %>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button" data-action="click->modal#close">Done</button>
    </footer>
  </div>
</div>
