<%= form_for([:admin, @photoblog]) do |f| %>
  <% if @photoblog.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p>Welp, the changes couldn't be saved.</p>
        <button class="delete"></button>
      </div>
      <div class="message-body">
        <% @photoblog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </article>
  <% end %>

  <h1 class="title is-size-5-mobile">Settings</h1>
  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Blog information</h2>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :name, 'Blog title', class: 'label' %></div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :name, placeholder: 'This blog’s title…', class: 'input', required: true, autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :tag_line, 'Tag line', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :tag_line, placeholder: 'A short, clever tag line for this blog…', required: true, class: 'input'%>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :about, 'About this blog', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_area :about, placeholder: 'The content of this blog’s about page…', required: true, class: 'textarea', rows: 20 %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :copyright, 'Copyright', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :copyright, placeholder: 'Your copyright information…', class: 'input', required: true, autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :additional_meta_tags, 'Additional meta tags', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_area :additional_meta_tags, placeholder: 'For example, Google Webmaster Tools verification tags…', class: 'textarea' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :meta_description, 'Meta description', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_area :meta_description, placeholder: 'Short description for search engines…', class: 'textarea' %>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Analytics</h2>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :analytics_head, 'Head analytics', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_area :analytics_head, class: 'textarea' %>
        </div>
        <p class="help">Use this for analytics script tags; these will appear at the end of the &lt;head&gt; element.</p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :analytics_body, 'Body analytics', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_area :analytics_body, class: 'textarea' %>
        </div>
        <p class="help">Use this for analytics tracking pixels; these will appear at the end of the &lt;body&gt; element.</p>
      </div>
    </div>
  </div>

  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Social & links</h2>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :email, 'Email', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.email_field :email, placeholder: 'Your contact email address…', class: 'input', autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :facebook, 'Facebook', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :facebook, placeholder: 'Your Facebook profile or page, e.g. https://www.facebook.com/allencompassingtrip', class: 'input', autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :flickr, 'Flickr', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :flickr, placeholder: 'Your Flickr profile, e.g. https://www.flickr.com/photos/gesteves/', class: 'input', autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :instagram, 'Instagram', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :instagram, placeholder: 'Your Instagram profile, e.g. https://www.instagram.com/gesteves/', class: 'input', autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :tumblr, 'Tumblr', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :tumblr, placeholder: 'Your Tumblr blog, e.g. https://gesteves.tumblr.com/', class: 'input', autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :twitter, 'Twitter', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :twitter, placeholder: 'Your Twitter profile, e.g. https://twitter.com/gesteves', class: 'input', autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>


  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Logos & icons</h2>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :header_logo_svg, 'Blog logo (SVG)', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_area :header_logo_svg, placeholder: 'SVG for the main logo in the header…', class: 'textarea' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :logo, 'Blog logo (PNG)', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="file">
          <label class="file-label">
            <%= f.file_field :logo, accept: '.png', class: 'file-input' %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-image"></i>
              </span>
              <span class="file-label">
                Choose an image…
              </span>
            </span>
          </label>
        </div>
      </div>
      <% if @photoblog.logo.attached? %>
        <div><%= image_tag @photoblog.logo_url %></div>
      <% end %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :placeholder, 'Placeholder (PNG)', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="file">
          <label class="file-label">
            <%= f.file_field :placeholder, accept: '.png', class: 'file-input' %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-image"></i>
              </span>
              <span class="file-label">
                Choose an image…
              </span>
            </span>
          </label>
        </div>
      </div>
      <% if @photoblog.placeholder.attached? %>
        <div><%= image_tag @photoblog.placeholder_url(h: 60) %></div>
      <% end %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :touch_icon, 'Icon', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="file">
          <label class="file-label">
            <%= f.file_field :touch_icon, accept: '.png', class: 'file-input' %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-image"></i>
              </span>
              <span class="file-label">
                Choose an image…
              </span>
            </span>
          </label>
        </div>
      </div>
      <% if @photoblog.touch_icon.attached? %>
        <div><%= image_tag @photoblog.touch_icon_url %></div>
      <% end %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :favicon, 'Favicon', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="file">
          <label class="file-label">
            <%= f.file_field :favicon, accept: '.png', class: 'file-input' %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-image"></i>
              </span>
              <span class="file-label">
                Choose an image…
              </span>
            </span>
          </label>
        </div>
      </div>
      <% if @photoblog.favicon.attached? %>
        <div><%= image_tag @photoblog.favicon_url %></div>
      <% end %>
    </div>
  </div>

  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Other options</h2>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :posts_per_page, 'Entries per page', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <%= f.number_field :posts_per_page, min: 1, max: 120, pattern: '\d+', class: 'input', required: true %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :show_related_entries, 'Show related entries', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-target="radio-tab.tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-target="radio-tab.tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :show_related_entries, 'data-target': 'radio-tab.field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :show_search, 'Show search', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-target="radio-tab.tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-target="radio-tab.tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :show_search, 'data-target': 'radio-tab.field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :time_zone, 'Time zone', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <%= f.time_zone_select :time_zone %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :map_style, 'Map style', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <%= f.select :map_style, options_for_select(@map_styles, @photoblog.map_style) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :cache_ttl, 'Cache content for…', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <%= f.select :cache_ttl, options_for_select(@ttls, ENV['CACHE_TTL']) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr">

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="buttons is-right">
          <%= link_to 'Cancel', admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button' %>
          <%= f.submit 'Save changes', class: 'button is-success' %>
        </div>
      </div>
    </div>
  </div>

<% end %>
