<main data-controller="infinite-scroll" data-infinite-scroll-base-url="<%= @base_url %>" data-infinite-scroll-current-page="<%= @page %>">
  <h2 id="entry-list-heading" class="sr-only"><%= @heading_title %></h2>
  <ol class="entry-list" data-target="infinite-scroll.container" data-controller="grid" aria-busy="false" aria-labelledby="entry-list-heading">
    <%= render partial: 'entries/list/page', object: @entries.to_a, as: :entries, locals: { page_url: @page_url }  %>
  </ol>
  <%= paginate @entries, target: 'infinite-scroll.paginator' %>
  <%= render partial: 'partials/loading', locals: { target: 'infinite-scroll.spinner' } %>
</main>
