<% photo = entry.photos.first %>
<a class="entry-list__link" style="<%= css_gradient_stops(photo) %>" href="<%= entry.permalink_url %>" aria-labelledby="<%= "entry-list-caption-#{entry.id}" %>">
  <%= responsive_image_tag(
    photo: photo,
    srcset: @srcset,
    sizes: @sizes,
    square: local_assigns[:square].presence,
    html_options: {
      class: 'entry-list__image',
      alt: '',
      'aria-hidden': true,
      loading: 'lazy'
    }) %>
  <div class="entry-list__photo-caption" id="<%= "entry-list-caption-#{entry.id}" %>">
    <h3 class="entry-list__photo-title"><%= truncate(entry.plain_title, length: 80, separator: ' ', omission: '…') %></h3>
    <p class="entry-list__photo-meta">Published on <%= entry.published_at.strftime('%B %-d, %Y') %></p>
  </div>
</a>
