<nav class="navbar is-spaced has-shadow" data-controller="nav">
  <div class="container">
    <% if @photoblog.header_logo_svg.present? %>
      <div class="navbar-brand">
        <a href="<%= root_path %>" class="navbar-item logo" data-turbolinks="false">
          <%= @photoblog.header_logo_svg.html_safe %>
        </a>
        <a role="button" class="navbar-burger" data-action="click->nav#toggle" data-target="nav.burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    <% end %>
    <div class="navbar-menu" data-target="nav.menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown" data-controller="dropdown">
          <a class="navbar-link" data-action="click->dropdown#toggle">
            Entries
          </a>
          <div class="navbar-dropdown">
            <a href="<%= new_admin_entry_path %>" class="navbar-item">
              New entry
            </a>
            <hr class="navbar-divider">
            <a href="<%= admin_entries_path %>" class="navbar-item">
              Published
            </a>
            <a href="<%= queued_admin_entries_path %>" class="navbar-item">
              Queued
            </a>
            <a href="<%= drafts_admin_entries_path %>" class="navbar-item">
              Drafts
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown" data-controller="dropdown">
          <a class="navbar-link" data-action="click->dropdown#toggle">
            Tags
          </a>
          <div class="navbar-dropdown">
            <a href="<%= admin_tags_path %>" class="navbar-item">
              All tags
            </a>
            <a href="<%= admin_tag_customizations_path %>" class="navbar-item">
              Tags & social media
            </a>
          </div>
        </div>
        <% if ENV['mapbox_api_token'].present? %>
          <a href="<%= admin_map_path(trailing_slash: true) %>" class="navbar-item">Map</a>
        <% end %>
        <% if @photoblog.has_search? %>
        <div class="navbar-item">
          <%= form_tag(admin_search_path, method: 'get' ) do %>
            <div class="control has-icons-left">
              <%= text_field_tag :q, @query || '', placeholder: 'Search', class: 'input' %>
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown" data-controller="dropdown">
          <a class="navbar-link" data-action="click->dropdown#toggle">
            Settings
          </a>
          <div class="navbar-dropdown">
            <%= link_to 'Blog', edit_admin_blog_path(@photoblog), class: 'navbar-item' %>
            <%= link_to 'Equipment', admin_equipment_path, class: 'navbar-item' %>
            <%= link_to 'Webhooks', admin_webhooks_path, class: 'navbar-item' %>
            <%= link_to 'Expire caches', flush_caches_admin_blog_path(@photoblog), class: 'navbar-item', remote: true, method: :post, data: { confirm: "This will clear all caches and restart the server. Do you want to proceed?" } %>
            <%= link_to 'Sidekiq', sidekiq_web_path, class: 'navbar-item' %>
          </div>
        </div>
        <a href="<%= signout_path %>" class="navbar-item" data-turbolinks="false">Sign out</a>
      </div>
    </div>
  </div>
</nav>
